#create-account {
  width: 100%;
}

.LoginForm {
  background: white;
  margin: 0 auto;
  margin-top: 1rem;
  width: 90%;
  min-height: 10rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

a#register {
  width: 100%;
  background: #2e2e2e;
}
