#LoginForm {
  background: white;
  margin: 0 auto;
  margin-top: 1rem;
  width: 90%;
  height: 33rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  border-radius: 2%;
}

.greytext {
  width: 300px;
}

label {
  font-size: 1.2rem;
}

#login {
  margin-bottom: 1rem;
}

#Logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
