#LoginForm {
  background: white;
  margin: 0 auto;
  margin-top: 1rem;
  width: 100%;
  height: 26rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

.greytext {
  width: 300px;
}

label {
  font-size: 1.2rem;
}

#Logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
