.input-group {
    background-color: white;
}

.buttonText {
    color: white;
    font-size: 24px;
}
h3 {
    background-color: maroon;
    color: white;
    margin-top:25px;
    margin-bottom:25px;
    width:100%;
    text-align: center;
}